/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// $navbar-dark-disabled-color: rgba($white, .25) !default;
// $navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;


// $blue: #030D4F !default;
$blue: #092A4C !default;
$blueberry: #14526B !default;
$red: #FB0C06 !default;
$yellow: #FFC52C !default;
$green: #018849 !default;
$light-grey: #E7EDEA;
$pale-blue: #CEECEF;
$white: #FFF;

$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $yellow !default;
$navbar-dark-active-color: $yellow !default;
$navbar-dark-toggler-border-color: $white !default;

$primary: $blue !default;

$body-bg: $light-grey !default;

@import "bootstrap/scss/bootstrap";





 