<header>
  <nav class="nav">
    <div class="logo">
      MyRecs
    </div>
    <div class=search-bar>
      <label for="search-bar">
        <input id="search-bar" type="text" value="search" />
        <button>Search</button>
      </label>
    </div>
    <button>
      <%= link_to "Sign up", new_account_registration_path %>
      <%= link_to "Login", new_account_session_path %>
    </button>
    <button>
      <%= link_to "Add rec", new_referral_path %>
    </button>
  </nav>
</header>
<main>
  <div class="side-nav">
    <ul>
      <li>(Name)</li>
      <li>My Recs</li>
      <li>Categories</li>
      <li>Following</li>
    </ul>
  </div>
  <div class="rec-window">
    <div class="rec-window__rec">1</div>
    <div class="rec-window__rec">2</div>
    <div class="rec-window__rec">3</div>
    <div class="rec-window__rec">4</div>
    <div class="rec-window__rec">5</div>
    <div class="rec-window__rec">6</div>
    <div class="rec-window__rec">7</div>
    <div class="rec-window__rec">8</div>
  </div>

</main>

<footer></footer>